<html>


<head>
    <title>Item Details</title>
    <link href="/static/styles.ss" rel="stylesheet">
</head>
<body>
    <h1>"you have been successfully logged in"</h1>
    <button></button>

    <form method="post" action="http://127.0.0.1:8000/current-user-houses">

      <button type="submit">get houses</button>
      <input type="text" name="token" value="" >


    </form>
</body>
{% block context%}
 
  <p> {{context}}</p>
  <p> {{userrname}}</p>
{%endblock%}




   
   <!--{%block content%}
   
   {%endblock%} -->

</html>