<!DOCTYPE html>
<html>

<form Form method="post" action="http://127.0.0.1:8000/password/reset">
    <div class="container">
    <h1>Register Here</h1>

    <h1 style="color:darkred">password reset code <br>{{reset_code}}</h1>


    <p>Please fill in the details to create an account with us.</p>
    <hr>
    <label for="email"><b>Enter Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter New  Password" name="password" required >


    <label for="code"><b>Code</b></label>

    <input type="number" placeholder="Enter code " name="code" required >

    
    
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn"><strong>Register</strong></button>
    </div>
    <div class="container signin">
    <p > Already have an account? ><a href="http://127.0.0.1:8000/loginpage"> Sign in</a></p>
    </div>
    </form>

</html>